@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kadwa:wght@400;700&display=swap');
@font-face {
  font-family: 'Agrandir Regular';
  src: url('../font/AGRANDIR-REGULAR.OTF') format('opentype');
}

* {
  font-family: 'inter';
}


.box-shadow {
  filter:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

/* .container-relative {
  position: relative;
} */

.containertest-main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.containertest-second {
  height: 100%;
}

.hidden {
  display: none !important;
}

.keyboard-visible .tab3-button {
  display: none !important;
}

.has-focus.sc-ion-textarea-md-h .textarea-highlight.sc-ion-textarea-md {
  height: 2px;
  background: #efefef;
}

.textarea-highlight.sc-ion-textarea-md {
  background: #efefef!important;
}

.textarea {
  margin-bottom: 15px;
}

/* PARAMS COMPONENTS FORCE INPUT */


button.item-native {
  padding-left: 0px;
}