.describe .emoji-size {
    width: 35px;
}

html {
    height: 100%;
}

.describe-title {
    font-size: 16px;
    font-weight: 400;
}

.describe .inputTextDescribe {
    background: none;
    outline: none;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    padding: 0px;
    margin: 30px 0px;
    font-family: initial;
    /* border: 1px solid grey; */
    padding: 15px;
    border-radius: 4px;
}

.describe .inputTextDescribe:focus {
    caret-color: grey; /* Couleur du curseur d'écriture (caret) */

}

.back-img {
    width: 30px;
    padding: 15px;
    box-sizing: content-box;
    position: relative;
    left: -15px;
    top: -15px;
}

.describe .content-container {
padding: 30px;
}

.describe .container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.describe .describe-title-bold {
    font-weight: bold;
}

.describe .button-next {
    border-radius: 13px;
    font-size: 16px;
    font-family: "'Agrandir regular'"!important;
    font-weight: bold;
    color: black;
    --background: #FFCC00;
    overflow: hidden;
    height: 40px;
    text-transform: capitalize;
    letter-spacing:0;
}

.describe .textarea {
    height: 100px;
    margin-top: 15px;
}

.textarea-container {
    position: relative;
    width: 100%;
  }
  
  .char-counter {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-size: 12px;
    color: #666;
  }
  