.emoji-size {
    width: 60px;
}

html {
    height: 100%;
}

.describe-title {
    font-size: 16px;
    font-weight: bold;
}

.inputTextDescribe {
    padding: 10px;
    background: none;
    outline: none;
    font-size: 16px;
    border: none;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.inputTextDescribe:focus {
    caret-color: grey; /* Couleur du curseur d'écriture (caret) */

}

/* calendar.css */
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colonnes égales */
    gap: 10px;
  }
  
  .calendar-day {
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
  }
  
  .calendar-day.no-emotion {
    color: grey;
  }
  
  .emotions-list {
    margin-top: 5px;
  }
  
  .emotion-item {
    color: white;
    border-radius: 3px;
    margin-top: 2px;
    display: inline-block;
    position: relative;
  }

  .emotion-item img{
    width: 23px;
    position: absolute;
    top: -17px;
    left: -11px;
  }

  .emotion-detail-container {
    display: flex;
    flex-direction: row;
    min-height: 130px;
  }

  .img-emotion  {
    width: 48px;
  }

  .emotion-detail-container .date {
    font-weight: bold;
    font-size: 14px;
  }

  .emotion-detail-container .description {
    font-size: 14px;
    padding-right: 10px;
  }

  h2 {
    text-transform: capitalize;
    padding-left: 74px;
  }

  .emoji-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .inner-scroll {
    background-color: green;
  }

ion-content {
  --background: #fafafa
}

.emotion-detail-container {
  margin: 15px;
  background-color: white;
  /* box-shadow: 2px 6px 0 0 #e9e9e9; */
  box-shadow: 1px 10px 20px 0px #d4d4d4;
  padding: 15px;
  border-radius: 16px;
}

.content .date {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 5px;
}

.selected-date {
  margin-top: 45px;
}

.place-type {
  max-height: 12px;
  position: absolute;
  width: fit-content!important;
}

.container-place-type {
  max-width: 20px;
  background: white;
  padding: 4px;
  position: relative;
  right: -25px;
  bottom: 19px;
  height: 20px;
  border-radius: 50px;
}

.container-content-emotion-title {
  position: relative;
}

h2 {
  padding-left: 0;
  text-align: center;
}

.trait-name {
  text-transform: capitalize;
}

.traits-container {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.trait-item {
  display: flex;
  justify-content: space-between;
  color: #a2a2a2;
  font-weight: 600;
}



.trait-positif {
  color: #3cb05b;
  font-weight: 600;
}

.trait-positif .trait-score {
  color: #3cb05b;
  font-size: 16px;
}

.trait-score {
  font-size: 16px;
}

.advice-content {
  background-color: #f6f6f6;
  border-radius: 16px;
  padding: 10px;
  text-indent: 20px;
}

.advice {
  display: flex;
  gap: 15px;
  /* background-color: #efefef; */
  position: relative;
}

.advice-logo {
  width: 35px;
  position: absolute;
  top: 9px;
  left: -11px;
}

.cook-animation {
  width: 90px;
  height: auto;
}

.animation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.analyse-progress {
  font-size: 12px;
  color: grey;
  position: relative;
  left: -24px;
}

.analyse-progr {
  color: grey;
  left: -28px;
  position: relative;
  font-size: 12px;
}

.emotion-detail-container-fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.traits-container-fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}

.trait-item-fade-in {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.advice-fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.2s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}