.stepPlain {
    background-color: #CDB574;
    width: 15px;
    height: 15px;
    border-radius: 23px;
}

.stepNotPlain {
    width: 15px;
    height: 15px;
    border-radius: 23px;
    border: 2px solid #CDB574;
}

.steps-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}